[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krakenex = "*"
pandas = "*"
ipywidgets = "*"
plotly = "==5.11.0"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.9"
